
<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>

<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      Create Account
    </h1>
  </div>

  
  <%= render 'shared/error_messages', model: f.object %>
  

  <div class="sign-up-group">
    <div class='form-text-wrap'>
      <label class="form-text">Name</label>
      <%# <span class="indispensable">必須</span> %>
    </div>
    <%= f.text_area :name, class:"input-default", id:"nickname", maxlength:"40" %>
  </div>
  <div class="sign-up-group">
    <div class='form-text-wrap'>
      <label class="form-text">Email</label>
      <%# <span class="indispensable">必須</span> %>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"Either PC or mobile is acceptable", autofocus: true %>
  </div>
  <div class="sign-up-group">
    <div class='form-text-wrap'>
      <label class="form-text">Password</label>
      <%# <span class="indispensable">必須</span> %>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6 or more single-byte alphanumers" %>
    <%# <p class='info-text'>※英字と数字の両方を含めて設定してください</p> %>
  </div>
  <div class="sign-up-group">
    <div class='form-text-wrap'>
      <label class="form-text">Password_confirmation</label>
      <%# <span class="indispensable">必須</span> %>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"Please enter the same password" %>
  </div>
  <div class='register-btn'>
    <%= f.submit "Create Account" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>

