<header>
    <ul>
      <li><%= link_to 'commpany', "#", class: "category-list" %></li>
      <li><%= link_to 'plan', "#", class: "category-list" %></li>
      <li><%= link_to 'reserve', "#", class: "brand-list" %></li>
    </ul>
    <nav class="nav">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to current_user.name, "#", class: "user-nickname"  %></li>
          <li><%= link_to 'logout', destroy_user_session_path, method: :delete, class: "logout"  %></li>
        <% else %>  
          <li><%= link_to 'login', new_user_session_path, class: "login" %></li>
          <li><%= link_to 'sign up', new_user_registration_path, class: "sign-up" %></li>
        <% end %>  
      </ul>
    </nav>
</header>

