<header>
    <ul>
      <li><%= link_to 'commpany', "#", class: "category-list" %></li>
      <li><%= link_to 'plan', "#", class: "category-list" %></li>
      <li><%= link_to 'reserve', "#", class: "brand-list" %></li>
    </ul>
    <nav class="pc-nav">
      <ul>
        <li><%= link_to 'login', new_user_session_path, class: "login" %></li>
        <li><%= link_to 'sign up', new_user_registration_path, class: "sign-up" %></li>
      </ul>
    </nav>
</header>
<div class="main-visual">
   <h2>Take care of your child</h2>
</div>
