  <div class='reservation-form'>
    <h1 class='info-input-reservation'>
      申し込み事項入力
    </h1>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Children_number</label>
        <span class="indispensable">*</span>
      </div>  
      <%= f.collection_select(:children_number_id, ChildrenNumber.all, :id, :children_number, {}, {class:"select-box", id:"children-number"}) %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Children_name</label>
        <span class="indispensable">*</span>
      </div>
      <%= f.text_field :children_name, class:"input-default", id:"children-name", placeholder:"last_name  first_name", maxlength:"20" %>  
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Allergy</label>
        <span class="indispensable-optional">optional</span>
      </div>  
      <%= f.text_area :allergy, class:"input-default-allergy", id:"allergy", placeholder:"example）egg, wheat, shrmp...（Up to 200 characters）", maxlength:"200" %>  
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Age</label>
        <span class="indispensable">*</span>
      </div>
      <%= f.collection_select(:age_id, Age.all, :id, :age, {}, {class:"select-box", id:"children-age"}) %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Nationality</label>
        <span class="indispensable">*</span>
      </div>
      <%= f.text_field :nationality, class:"input-default", id:"natinality", placeholder:"example）Japan/Japanese", maxlength:"20" %>  
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Phone_number</label>
        <span class="indispensable">*</span>
      </div>
      <%= f.text_field :phone_number, class:"input-default", id:"phone-number", placeholder:"example）09012345678", maxlength:"11"%>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Contact</label>
        <span class="indispensable-optional">optional</span>
      </div>
        <%= f.text_area :contact, class:"input-default-contact", id:"contact", placeholder:"(Up to 800 characters)", maxlength:"1000"%>
    </div>
  </div>  