<%= render "shared/header" %>

<div class='main-contents'>

  <div class='experience-contents'>
    <%# 食体験コンテンツ %>
    <div class='food-groups'>
      <div class='food-image'>
         <%= image_tag 'shishamo.JPEG', class: "big-img" %>
         <%= image_tag 'shishamotenpura.jpg', class: "shishamotenpura-img" %>
         <%= image_tag 'kabocha.jpg', class: "cabocha-img" %>
      </div>
      <div class='food-explain'>
        <div class='food-explain-hokkaido'>
          Hokkaido food experience
        </div>
        <ul>
          <div class='left-explain'>
            食体験とは、その土地の食文化に触れながら、ご当地の食材を使って郷土料理を頂く体験サービスです。<br>※（お子様が小さかったり、飲食物持ち込みの場合は、basidプランをお申し込みください。）
          <div>
          <div class='explain-example'>
            北海道食体験（１０月）</div>
          <div class='example-contents'>
            ・本ししゃもの天ぷら<br>日本の固有種で北海道の太平洋側の一部にしか生息しない極めて貴重な魚を天ぷらに。
          </div>
           <div class='example-contents'>
            ・かぼちゃ団子<br>かぼちゃを蒸してから潰し、片栗粉、砂糖を混ぜて形を整え、フライパンなどで焼いた北海道の家庭料理。
          </div>
        </ul>
      </div>
    </div>
    

    <%# 伝統工芸コンテンツ %>
    <div class='craft-groups'>
      <div class='food-explain'>
        <div class='food-explain-hokkaido'>
          woodworking experience
        </div>
        <ul>
          <div class='left-explain'>
            木工体験とは、林業が盛んなこの村で採れた木を使用し、思い出に残るような木工作品を作る体験サービスです。
          <div>
          <div class='explain-example'>
            木工体験</div>
          <div class='example-contents'>
            ・北海道の木材で作るオルゴール<br>中に、音声を記録できる為、子供が成長した時に当時を振り返る良いアイテムになるのでは？
          </div>
           <%# <div class='example-contents'>
            ・かぼちゃ団子<br>かぼちゃを蒸してから潰し、片栗粉、砂糖を混ぜて形を整え、フライパンなどで焼いた北海道の家庭料理。
          </div> %>
        </ul>
      </div>
      <div class='craft-image'>
         <%= image_tag 'musicbox.JPEG', class: "musicbox-img" %>
         <%= image_tag 'woodwork2.jpg', class: "woodwork-small-img" %> 
         <%= image_tag 'woodwork.jpg', class: "woodwork-img" %> 
         
      </div>
    </div>


    <%# ギフトチケットコンテンツ %>
    <div class='gift-groups'>
      <div class='gift-image'>
         <%= image_tag 'ticket.jpg', class: "ticket-img" %> 
         <%= image_tag 'ticket2.jpg', class: "ticket-img" %> 
      </div>
      <div class='ticket-explain'>
        <div class='ticket-explain-hokkaido'>
          gift ticket
        </div>
        <ul>
          <div class='left-explain'>
            gift ticketとは、弊社が運営している動画コンテンツを1年間無料で試聴して頂けるオンラインサービスです。<br>
            （日本の食文化、郷土料理を紹介しています。）
          <div>
          <div class='explain-example'>
            動画コンテンツ例
          </div>
          <div class='example-contents'>
            ・ししゃも漁の様子
          </div>
           <div class='example-contents'>
            ・かぼちゃ団子の作り方
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>










