<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChildcareJapan2022</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= javascript_pack_tag 'application' %>
    <%# <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= stylesheet_link_tag 'application', media: 'all'  %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
